<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
    <table>
        <thead>
            <% header.forEach(elem => {%>
                <th><%=elem%></th>
            <%})%>
        </thead>
        <tbody>
            <%body.forEach(row => {%>
                <tr>
                    <%row.forEach(elem => {%>
                        <th><%=elem%></th>
                    <%})%>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>